<%- include('../userLayouts/header.ejs') %>


    <div class="page-wrapper">
        
        <%- include('../userLayouts/pageHeader.ejs') %>

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <!-- Breadcrumb content -->
            </nav>

            <div class="change-password-page">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-6 col-lg-5">
                            <div class="change-password-form">
                                <div class="change-password-heading">
                                    <h2>Change Password</h2>
                                </div>

                                <form id="change-password-form" class="change-password-form">

                                    <div class="form-group">
                                        <label for="new-password">New Password:</label>
                                        <input type="password" id="new-password" name="newPassword" class="form-control" required>
                                    </div>

                                    <div class="form-group">
                                        <label for="confirm-password">Confirm New Password:</label>
                                        <input type="password" id="confirm-password" name="confirmPassword" class="form-control" required>
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-block">Change Password</button>
                                </form>
                            </div><!-- End .change-password-form -->
                        </div><!-- End .col-md-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .change-password-page -->
        </main><!-- End .main -->

        <%- include('../userLayouts/pageFooter.ejs') %>
            
    </div><!-- End .page-wrapper -->

<%- include('../userLayouts/footer.ejs') %>
