<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Email</title>
  <link rel="stylesheet" href="/assets/css/otpStyle.css">
</head>
<body>
    <div class="container">
        <h1>Verify OTP</h1>
        <p>A 6-digit code has been sent to your phone number ending with ****<%= userMobile %>. Enter the code below to proceed.</p>
        <% if (typeof message !== 'undefined') { %>
            <p style="color: red;" class="d-inline-flex p-2 " ><%= message %>*</p>
        <% } %>
        <form action="/otp" method="post">
            <div class="otp-fields">
                <input type="number" name="otp-digit-1" maxlength="1" required>
                <input type="number" name="otp-digit-2" maxlength="1" required>
                <input type="number" name="otp-digit-3" maxlength="1" required>
                <input type="number" name="otp-digit-4" maxlength="1" required>
                <input type="number" name="otp-digit-5" maxlength="1" required>
                <input type="number" name="otp-digit-6" maxlength="1" required>
            </div>
            <div class="button-container">
                <button type="submit">Verify</button>
                <p>Resend Otp avialable in <span id="resendOtpTime"></span> seconds</p>
                <a href="/resendOTP?mail=<%- userEmail %>" id="otpButton" style="display: none;">Resend OTP</a>
            </div>
        </form>
    </div>

    <script>
            setTimeout(() => {
                document.getElementById('otpButton').style.display = 'block';
            }, 47000);  

            let count = 47; // Initial countdown value
            const countdownInterval = setInterval(() => {
                count--; // Decrement count
                document.getElementById('resendOtpTime').innerHTML = count; // Update countdown display
                if (count <= 0) {
                    clearInterval(countdownInterval); // Stop the countdown when count reaches 0
                }
            }, 1000);

    </script>
</body>
</html>