<header class="header">
    
    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="/" class="logo">
                    <img src="assets/images/logo.png" alt="Molla Logo" width="105" height="25">
                </a>

                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container ">
                            <a href="/" >Home</a>
                        </li>
                        <li class="megamenu-container <%
                        if (typeof activeShopMessage !== 'undefined') {
                            %>
                            <%=activeShopMessage %>
                            <%
                        }
                    %> ">
                            <a href="shop" >Shop</a>
                        </li>
                        <li class="<%
                        if (typeof activeMoreMessage !== 'undefined') {
                            %>
                            <%=activeMoreMessage %>
                            <%
                        }
                    %> " >
                            <a href="#" class="sf-with-ul">more</a> 

                            <ul>
                                <li>
                                    <a href="about" >About</a>
                                </li>
                                <li>
                                    <a href="contact" >Contact</a>
                                </li>
                                <li><a href="faq">FAQs</a></li>
                            </ul>
                        </li>
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <form id="searchForm" action="/shop" method="GET">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search product ..." >
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <% if (typeof loginOrCart.user_id == 'undefined') {
                    %>
                    <div class="wishlist">
                        <a href="login" title="Wishlist">
                            <h4 class="Personal-Login btn btn-danger" style="margin: 0px; border-radius: 100px;">Log in</h4>
                        </a>
                    </div><!-- End .compare-dropdown -->
                    <%
                } else {
                    %>
                    <div class="header-right">
                        <div class="dropdown compare-dropdown">
                            <a href="wishlist" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-heart" ></i>
                            </a>
        
                        </div><!-- End .compare-dropdown -->
                        <div class="dropdown cart-dropdown">
                            <a href="cart" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <% if (cartItemsForCartCount == null) { %>
                                    <span class="cart-count">0</span>
                                <% } else { %>
                                    <span class="cart-count"><%= cartItemsForCartCount.length %></span>
                                <% } %>
                            </a>
                        </div><!-- End .cart-dropdown -->
                        <div class="dropdown compare-dropdown">
                            <a href="profile" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" data-display="static" title="Compare Products" aria-label="Compare Products">
                                <i class="icon-user"></i>
                            </a>
                        </div><!-- End .compare-dropdown -->
                    </div><!-- End .header-right -->
                <% } %>
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-middle -->
</header><!-- End .header -->