<div style="background-color: #d33b3b; color: #0c0c0c; padding: 10px 20px; border-bottom: 1px solid #ffeeba; text-align: center; font-size: 14px;">
    ⚠️ This site is hosted on <strong>Render</strong>. The server may take a few moments to wake up, especially after periods of inactivity. Thank you for your patience!
</div>
  