<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>
  <!-- <link rel="stylesheet" href="style.css"> -->
  <style>
    body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url("/assets/images/admin-login-background.png"); /* Replace with your desired image */
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(10px);
  margin: 0px;
}

.login-container {
  background-color: rgba(114, 114, 114, 0.7);
  padding: 30px;
  padding-right: 50px;
  border-radius: 10px;
  color: #4f5d77;
  border: 2px solid black;
}

.login-form {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.btn-primary {
  top:50%;
  background-color:#3BB77E;
  color: #fff;
  border:none; 
  border-radius:10px; 
  padding:15px;
  min-height:30px; 
  min-width: 120px;
  cursor: pointer;
  font-weight: 600;
  font-size: medium;
}

.btn-primary:hover {
  background-color: #34a06e;
}

  </style>
</head>
<body>
  <div class="login-container">
    <div class="login-form">
      <h1>Admin Login</h1>
      <form id="admin-login-form" method="POST" action="">
        <% if (typeof validationMessage !== 'undefined') { %>
          <p style="color: red;" class="d-inline-flex p-2 " ><%= validationMessage %>*</p>
        <% } %>
        <div class="form-group">
          <label for="email">Gmail:</label>
          <input type="email" class="form-control" id="email" name="adminEmail">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="adminPassword">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>

</body>
</html>
